


@media only screen and (max-width: 1149px) { 
	body {
		font-size:16px;
	}
	
}
@media only screen and (max-width: 1023px) { 
	body {
		font-size:15px;
	}
	#pagetop {
		font-weight:400;
	}
	#pagecontent {
		padding-top:7em;
	}
	#pagelogo {
		width:8.25em;
		height:8.25em;
		left:0.5em;
		top:-1.75em;
		background:url('../images/ic/logo.png') no-repeat 50% 50%;
		background-size:100% auto;
	}
	#pagenavi ul li a {
		margin:0.25em 0.2em;
	}
	#pagenavi {
		height: 3.125em;
		line-height: 3.0em;
		background: rgb(210,210,210);
		padding: 0;
	}
}
@media only screen and (max-width: 959px) { 
	
	body {
		font-size:14px;
	}
	
}
@media only screen and (max-width: 899px) { 
	
	body {
		font-size:13px;
	}
	
}

@media only screen and (max-width: 859px) { 
	#pagenavi ul li a {
		font-size:0.975em;
	
	}
	
}

@media only screen and (max-width: 799px) { 
	#pagetop a {
		padding:0 0.95em;
	}
}
#pagetop #pagenavi a.phonetrigger {
	display:none;
}
@media (pointer:coarse) and (max-width: 759px) {
	#pagetop #pagenavi a.phonetrigger {
		display:block !important;
	}
}
@media only screen and (max-width: 759px) {
	body {
		font-size:16px;
	}
	#pagecontent {
		padding-top:4em;
	}
	#pagetop {
		border-bottom: 1em solid rgb(0,85,165);
		border-top: 1em solid rgb(245,245,245);
		position:fixed;
		left:0;
		right:0;
		top:0;

	}
	
	#pagebottom {
		padding-top:2em;
	}
	#pagetop #pagenavi {
		margin-top:0;
		height:3em;
		line-height:1.75em;
		background:rgb(225,225,225);
	}
	
	#pagetop #pagenavi ul,
	#pagetop #pagenavi ul li {
		display:block;
		width:100%;
		margin:0;
	
	}
	#pagetop #pagenavi ul li {
		border-top:1px solid rgba(255,255,255,0.25);
		padding:0;
		-ms-border-radius: 0;
		-moz-border-radius: 0;
		-o-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
	}
	#pagetop #pagenavi ul li:first-child {
		border-top:0; 
	}
	#pagetop #pagenavi ul li a {
		margin:0;
	}
	#pagetop #pagenavi ul {
		position:absolute;
		left:-100%;
		top:4em;
		background:rgba(200,200,200,0.95);
		-webkit-transition: all .2s ease-in;  
		-moz-transition: all .2s ease-in;  
		-o-transition: all .2s ease-in;  
		-ms-transition: all .2s ease-in;
		transition: all .2s ease-in;
		padding:1em;
		
	}
	#pagetop #pagenavi ul li.home {
		display:none;
	}
	
	#pagetop #pagenavi a.phonetrigger,
	#pagetop #pagenavi .burgertrigger {
		height:2em;
		line-height:2em;
		
		width:2em;
		font-size:1.5em;
		position:absolute;
		text-align:center;
		top:0;
		padding:0;
		z-index:9;
		display:block;
		color:#000;
		-webkit-transition: all .2s ease-in;  
		-moz-transition: all .2s ease-in;  
		-o-transition: all .2s ease-in;  
		-ms-transition: all .2s ease-in;
		transition: all .2s ease-in;
	}
	#pagetop #pagenavi a.phonetrigger {
		
		left:0;
		
	}
	
	#pagetop #pagenavi .burgertrigger {
		right:0;
	}
	
	
	#pagetop #pagenavi a.phonetrigger:before,
	#pagetop #pagenavi .burgertrigger:before {
		content:'\f0c9';
		font-family:'fontawesome';
	}
	#pagetop #pagenavi a.phonetrigger:before {
		content:'\f095';
	}
	
	#pagetop #pagenavi ul {
		padding-top:2em;
	}
	.navigate #pagetop #pagenavi ul {
		left:0;
		
		-webkit-transition: all .2s ease-in;  
		-moz-transition: all .2s ease-in;  
		-o-transition: all .2s ease-in;  
		-ms-transition: all .2s ease-in;
		transition: all .2s ease-in;
	}
	
	#pagelegal .middle {
		text-align:center;
	}
	#pagelegal ul {
		font-size:0.9em;
		margin:0 auto;
		float:none;
		top:-0.2em;
		position:relative;
	}
	
	#pagelegal ul li a {
		min-width:105px;
	}
	
	#pagetop li.teltrigger {
		display:table-cell;
		
	}
	#pagetop li.teltrigger a {
		position:relative;
		overflow:visible;
		height:1.5em;
		display:block;
		width:3em;
	}
	#pagetop li.teltrigger .fa {
		font-size:1.66em;
		line-height:1em;
		top:0;
		left:0;
		width:100%;
		text-align:center;
		display:block;
		position:absolute;
		
	}
	#pagelogo {
		width:5.8em;
		height:5.8em;
		position:absolute;
		left:50%;
		margin-left:-2.5em;
		top:-0.9em;
		background:url('../images/ic/logo.png') no-repeat 50% 50%;
		background-size:100% auto;
	}
	#pagebottom .middle,
	#pagecontent .middle {
		display:block;
		width:100%;
	}
	#pagecontent .middle {
		margin-top:2em;
	}
	
	#pagecontent .middle.error {
		margin-top:-1em !important;
	}
	
	#pagebottom .middle .left.wp60,
	#pagebottom .middle .right.wp40,
	#pagebottom .middle .left,
	#pagebottom .middle .right,
	#pagecontent .middle .left,
	#pagecontent .middle .right,
	#pagecontent .middle .leftright {
		display:block;
		width:100%;
		padding:1em !important;
		border:0 !important;
	}
	#pagecontent .middle.mapholder .leftright,
	#pagecontent .middle .right.routeform {
		padding-bottom:0 !important;
		margin-top:0;
	}
	#pagecontent .middle  .box.icon .icon {
		width:4.5em;
		height:4.5em;
		left:-.5em;
		top:0;
		line-height:4.5em;
	}
	#pagecontent .middle .right {
		margin-top:0;
		padding-top:0 !important;
	}
	#pagecontent .middle .left .box:last-child {
		border-bottom:1px solid rgba(0,0,0,0.15);

	}
	#pagecontent .middle .right {
		margin-bottom:0;
		padding-bottom:0;
	}
	#pagecontent .middle .right .box:last-of-type {
		border-bottom:0 !important;
		margin-bottom:0;
		padding-bottom:0;
	}
	
	#pagebottom .middle .left,
	#pagebottom .middle .right > .box.tar,
	#pagebottom .middle .right > .box.tar .tar {
		text-align:center !important;
	}
	#pagebottom .middle .right {
		border-top:1px solid rgba(255,255,255,0.2) !important;
		
	}
	
	#pagenavi ul li.akt {
		background:rgba(255,255,255,0.50);
	}
	#pagenavi ul li {
		-ms-border-radius: 12em;
		-moz-border-radius: 12em;
		-o-border-radius: 12em;
		-webkit-border-radius:12em;
		border-radius:12em;
		
	}
	#pagenavi ul li.akt a {
		background:rgba(255,255,255,0.0);
		-ms-border-radius: 0;
		-moz-border-radius: 0;
		-o-border-radius: 0;
		-webkit-border-radius:0;
		border-radius:0;
		color: rgb(0,85,165);
	}
	
	#pagenavi ul li.akt em {
		display:none;
	}
	
	#map .gm-iw .gm-style .gm-iw b,
	#directions .adp table td.adp-substep b:after, #directions .adp table td.adp-substep b:before {
		content: ' ';
	}
	#directions .adp-legal {
		padding:0 0.66em;
	}
	
	
}

@media only screen and (max-width: 479px) {
	body {
		font-size:15px;
	}
	
	
	#pagecontent .middle .box.icon {
		padding-left: 0;
	}
	
	#pagecontent .middle .box.icon .headline {
		padding-left: 3em;
		min-height:3em;
	}
	
	#pagecontent .middle .box.icon .icon {
		width: 2.75em;
		height: 2.75em;
		left: -0.5em;
		top: 0;
		line-height: 2.75em;
		text-align:center;
	}
	#pagecontent .middle .box.icon .icon .fa {
		font-size: 1.66em;
		line-height: 1.75em;
		
	}
	#pagecontent .middle .box .route,
	#pagecontent .middle .box .inner .map  {
		width:calc(100% + 2em);
		margin-left:-1em;
	}
	#directions .adp-summary,
	#directions .adp table {
		padding:0 1em;
	}
	#directions table.adp-directions {
		margin:0 1em;
		width:auto;
		width:calc(100% - 2em);
		
	
	}
	
	#pagecontent .middle .box.service .inner {
		padding-left:25%;
		
		background:url('../images/ic/kolben.png') no-repeat 0 0 ;
		background-size:  30% auto ;
	}
	.leftright .box .map {
	
		padding-top: 75%;
	}
}